.sec-head {
    height: 100vh;
    background-color: #424242;
    color: #FAFAFA;
    background-image: url(overlay.png);
    background-attachment: fixed, fixed;
    background-size: auto, cover;
    min-height: 35em;
    padding: 4.5em 0px 2.5em;
    background-position: left top, center center;
}

.sec-head hr {
    border-top: 1px solid rgba(250, 250, 250, .3);
}

.sec-download hr {
    margin-top: 2em;
    margin-bottom: 2em;
}

.sec-download {
    background-color: #FAFAFA;
    padding: 4em;
    border-bottom: 3px solid #E0E0E0;
}

footer {
    padding: 4em;
    background-color: #EEEEEE;
}

pre {
    background-color: #F5F5F5;
    padding: 1em;
    width: 500px;
    max-width: 100%;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
    margin: auto auto;
}